<%= link_to 'Sign out', destroy_admin_session_path , :method => :delete %>
<h1>Listing Meeting types</h1>

<table id="myTable" class="tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @meeting_types.each do |meeting_type| %>
    <tr>
      <td><%= meeting_type.name %></td>
      <td><%= link_to 'Show', meeting_type %></td>
      <td><%= link_to 'Edit', edit_meeting_type_path(meeting_type) %></td>
      <td><%= link_to 'Destroy', meeting_type, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Meeting type', new_meeting_type_path %>
