<h1>Listing Meeting types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @meeting_types.each do |meeting_type| %>
    <tr>
      <td><%= meeting_type.name %></td>
      <td><%= link_to 'Show', meeting_type %></td>
      <td><%= link_to 'Edit', edit_meeting_type_path(meeting_type) %></td>
      <td><%= link_to 'Destroy', meeting_type, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Meeting type', new_meeting_type_path %>
