<h1>Listing technologies</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @technologies.each do |technology| %>
  <tr>
    <td><%= technology.name %></td>
    <td><%= link_to 'Show', technology %></td>
    <td><%= link_to 'Edit', edit_technology_path(technology) %></td>
    <td><%= link_to 'Destroy', technology, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Technology', new_technology_path %>
