<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Sync Up</title>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <!DOCTYPE HTML>
  <div id="main">
    <%= render :partial=>'layouts/header' %>
    <div id="site_content">
      <div id="user_nav">
      </div>

      <div id="content">
        <!-- insert the page content here -->
        <p class="notice"><%= notice %></p>
        <p class="alert" ><%=alert %></p>
        <%= yield %>
      </div>
    </div>
    <%= render :partial=>'layouts/footer' %>
  </div>
</body>
</html>