<html>
  <head>
    <title>AgileMeetings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <%= stylesheet_link_tag "jquery-ui-1.8.17.custom", "application" %>
    <%= javascript_include_tag "jquery.min", "jquery-ui.min", "application" , "jquery-ui-1.8.17.custom.min" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="main">
      <%= render 'layouts/header' %>
      <div id="site_content">
        <p class="notice"><%= notice %></p>
        <p class="alert" ><%=alert %></p>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>